# Environment variables
.env
.env.*

# Dependencies
node_modules/

# Storage
uploads/
tmp/

# Logs
logs/
*.log

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db 